

p{
  color: #ffe600d5; 
  font-size: 600%; 
  font-family: 'IM Fell DW Pica SC', serif; 
  font-weight: 900; 
  text-shadow: 3px 3px 5px black;
  text-shadow: 4px 4px 5px white;
  
}

body{
  background-image: url(title.jpeg);/*画像ファイルの指定*/
  background-position : center center;/*どんな画面でも天地左右*/
  background-attachment: fixed;/*画像をみっちり入れる*/
  background-size: cover;/*画面の大きさに臨機応変に伸び縮み*/
  background-color:black;/*画像が読み込まれる前のカラー*/
}

button {
  border-radius: 4;
  position: absolute;
  right:46%;
  bottom:20%;
  font-size: 300%;
  background-color: transparent;
  text-shadow: 2pt 2pt 7pt white ;
  border: none;
  color:rgb(255, 251, 244);
}

