@charset "uft-8";
body{
  background-color: rgb(241, 214, 155);
}


.name{
  font-family: 'Klee One', cursive;
  font-size: 50px;
  text-align: center;
  margin: 120px;
  padding: 15px;
  color: white;
  text-shadow: 1px 0 2px black,
               0   1px 2px black,
               -1px 0 2px black,
               0 -1px 2px black;
   border-top: double 5px  rgb(104, 66, 10);
   border-bottom: double 5px  rgb(104, 66, 10);
}

.box{
  position: absolute;
  top: 10%;
  left: 2%;
  width: 350px;
  height: 80px;
  background-color: rgb(199, 168, 81);
  border: double 1px black;
  transform: rotate(-10deg);
}

.quest{
  font-weight: bold;
  text-align: center;
  margin: 4px;
  padding: 8px;
  font-size: 35px;
  border-bottom: 2px solid rgb(110, 73, 3);
  border-top: 2px solid rgb(110, 73, 3);
  border-left: 2px solid rgb(110, 73, 3);
  border-right: 2px solid rgb(110, 73, 3);
  text-shadow: 2px 0 20px white,
               0   2px 20px white,
               -2px 0 20px white,
               0 -2px 20px white;
}

img{
  position:absolute;
  right: 43%;
  bottom: 40%;
}

.zinogre{
  margin-top: 210px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 30px;
  border-top: dashed 1px  rgb(104, 66, 10);
  border-bottom: dashed 1px  rgb(104, 66, 10);
  color: rgb(255, 123, 0);
  text-shadow: 1px 0 1px black,
               0   1px 1px black,
               -1px 0 1px black,
               0 -1px 1px black;
  font-weight: 500;
}

